{% extends 'AcmeBundle::layout.html.twig' %}

{% block body %}
    <div>
        {{ render(controller('Liip\\TestFixturesBundle\\Tests\\App\\Controller\\DefaultController::embeddedAction')) }}
    </div>

    {{ form(form) }}
{% endblock %}
